nav.navbar.navbar-default {
    margin-bottom: 0;
}

.img {
  border-radius: 50%;
  width: 70%;
  height: auto;
}

/* style for left section and all buttons */
.nav-block, .btn {
  background-color: black;
  opacity:0.8;
  color: white;
}
.nav-contents {
  color: white;
}

.nav-link {
  color: black;
  background-color: rgb(240, 189, 94);
  border: rgb(13, 0, 128);
}

.nav-link:hover {
  color: rgb(2, 51, 2);
  background-color: lightgreen;
  font-variant-caps: small-caps;
}

.fa {
  color: lightgray;
}

