

.my-page {
    height: 100%;
    background-image: url(./images/backgroundImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(63, 23, 23);
}

.tech-btn {
    display: inline;
    border: 1px solid green;
    background-color: lightgray;
}

.row {
    height: inherit;
}